body {
  background-color: #000;
}
h1,
h2,
h3,
h4 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
.appbackground {
  background-color: #292929;
}
.headerfont {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
.stdinputtxtcolour {
  color: #cccccc;
}
.stdinputbgcolour {
  background-color: #292929;
}
.txtbody {
  font-family: 'Noticia Text', serif;
  color: #cccccc;
}
.txtcontrol {
  color: #dddddd;
  font-family: 'Roboto', sans-serif;
}
/*
.txtuserdatetags {

}
*/
.txtuserdate {

  color: #777777;
  margin-top: 10px;
  margin-bottom: 10px;
}
p.formerror {
  margin: 5px 0 0 12px;
}

.control {
  color: #999999;
}
.tag {
  display: inline-block;
  margin: 0 4px 4px 0;
  padding: 0 5px 0 5px;
  border: #444444;
  border-radius: 3px;
  background-color: #444444;
}
.mainframe {
  border: 5px solid #000000;
  padding-top: 10px;
  height: 100vh;
}
.navbox {
  text-align: center;
}
.navthumb {
  border: 3px solid black;
  height: 60px;
  width: 90px;
  opacity: 0.3;
}
.navthumbcurrent {
  opacity: 1;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.cnttxt {
  text-align: center;
}
.stdinputborder {
  border: 1px solid #000000;
  border-radius: 4px;
}
.txtright {
  text-align: right;
}
.strytitle {
  text-align: center;
}
.stryimg {
  height: 35vh;
  overflow: hidden;
  text-align: center;
}
.strytxt {
  background-color: #292929;
  font-family: 'Noticia Text', serif;
  color: #cccccc;
  word-wrap: break-word;
}
.strytxt::-webkit-input-placeholder {
  color: #999999;
}
.strytxt:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}
.strytxt::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}
.strytxt:-ms-input-placeholder {
  color: #999999;
}
p.strytxt {
  margin-top: 2vh;
}
textarea.form-control {
  height: 35vh;
}
.div.imgupload i,
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.plcholderhead::-webkit-input-placeholder {
  color: #aaaaaa;
}
.plcholderhead:-moz-placeholder {
  /* Firefox 18- */
  color: #aaaaaa;
}
.plcholderhead::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaaaaa;
}
.plcholderhead:-ms-input-placeholder {
  color: #aaaaaa;
}
.plcholdertxt::-webkit-input-placeholder {
  color: #999999;
}
.plcholdertxt:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}
.plcholdertxt::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}
.plcholdertxt:-ms-input-placeholder {
  color: #999999;
}

.on-top {
  z-index: 99;
}
.disappear {
  display: none;
}
div.imgupload input {
  display: none;
}

