.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

body {
  background-color: #000;
}
h1,
h2,
h3,
h4 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
.appbackground {
  background-color: #292929;
}

.headerfont {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
.stdinputtxtcolour {
  color: #cccccc;
}
.stdinputbgcolour {
  background-color: #292929;
}
.txtbody {
  font-family: 'Noticia Text', serif;
}
.txtcontrol {
  color: #dddddd;
  font-family: 'Roboto', sans-serif;
}

.control {
  color: #999999;
}
.mainframe {
  border: 5px solid #000000;
  padding-top: 10px;
}
.navbox {
  text-align: center;
}
.cnttxt {
  text-align: center;
}
.imgupload {
  text-align: center;
  height: 350px;
}
.stdinputborder {
  border: 1px solid #000000;
  border-radius: 4px;
}
.txtright {
  text-align: right;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.plcholderhead::-webkit-input-placeholder {
  color: #aaaaaa;
}
.plcholderhead:-moz-placeholder {
  /* Firefox 18- */
  color: #aaaaaa;
}
.plcholderhead::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaaaaa;
}
.plcholderhead:-ms-input-placeholder {
  color: #aaaaaa;
}
.plcholdertxt::-webkit-input-placeholder {
  color: #999999;
}
.plcholdertxt:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}
.plcholdertxt::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}
.plcholdertxt:-ms-input-placeholder {
  color: #999999;
}

h1,
h2,
h3,
h4 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

