<!-- Modal for delete img confirmation -->
<div class="modal-header appbackground">
  <button type="button" class="close txtbody" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
  <h4 class="modal-title">Delete confirmation</h4>
</div>
<div class="modal-body appbackground">
  <p class= "txtcontrol">Are you sure you want to delete?</p>
</div>
<div class="modal-footer appbackground">
  <button type="button" class="btn btn-default txtbody" ng-click="cancel()">No</button>
  <button type="button" class="btn btn-default txtbody" ng-click="ok()">Yes</button>
</div>
