<div class="container-fluid appbackground">
    <div class="row">
        <section class="col-xs-12 mainframe control">
				<h2 class="headerfont center mb20">FAQ</h2>
				<h4 class="mb20">Welcome to the world of short stories!</h4>
					<ol>
						<li>
							<p class="strytxt">To create a story, please register your user profile.
								You must include the following: username, first name, last name, e-mail,
								city and country where you live and a password.
							</p>
						</li>
						<li>
							<p class="strytxt">In your story you must add 3 sections,
								each of them contains a picture and text.
							</p>
						</li>
						<li>
							<p class="strytxt">Your picture must be the minimum size of the field on the screen..
							</p>
						</li>
						<li>
							<p class="strytxt">After you have chosen a picture, you can crop and save it.
							</p>
						</li>
						<li>
							<p class="strytxt">The Story must have a title and tags.
							</p>
						</li>
						<li>
							<p class="strytxt">Multiple tags can be added, they must be seperated by a comma.
							</p>
						</li>
						<li>
							<p class="strytxt">Every section must have headline and the story text should have a minimum of 
							150 and up to 300 characters.
							</p>
						</li>
						<li>
							<p class="strytxt">To save a section of your story press the right arrow at the bottom of the page.
							</p>
						</li>
						<li>
							<p class="strytxt">On your profile page you can add/delete your profile picture, edit
								your profile information and see all of your stories with the possibility to edit/delete them.
							</p>
						</li>
					</ol>
				<p class="strytxt">Enjoy the opportunity to express yourself and share with the world your
					travels, hobbies, emotions etc.
				</p>
		</section>
	</div>
</div>
