<div class="control">
<H1 CLASS="headerfont" >Hello and Welcome to
cosy world of short stories!</H1>
<OL>
	<LI><P class:"strytxt">To create a
		story, please, register your profile. It would be nice if you write
		to your profile your Name(nickname), First name, Last name, email,
		city and country where you live.
		</P>
	<LI><P class:"strytxt">In your story
		can you add 3 sections, each of them contains a picture and a small
		text.
		</P>
	<LI><P class:"strytxt">Picture could
		be not less than the field for picture.
		</P>
	<LI><P class:"strytxt">After you have
		added the picture, you can crop it and save.
		</P>
	<LI><P class:"strytxt">The Story must
		have Title and Tags.
		</P>
	<LI><P class:"strytxt">Tags you can
		write through semicolon.
		</P>
	<LI><P class:"strytxt">Every section
		must have Headline and text minimum
		150 and up to 300 characters
		</P>
	<LI><P class:"strytxt">To
		save a section of your story press right arrow in the bottom of the
		page.
		</P>
	<LI><P class:"strytxt">In
		your profile you can add/delete your profiles picture, go to edit
		your data and see all yours stories with possibility to edit/delete
		them.
		</P>
</OL>
<P class:"strytxt">Enjoy
the opportunity to express yourself and share with the world yours
travels, hobbies, emotions etc.
</P>
</div>