<div class="container-fluid appbackground" >
  <div class="row">
    <div class="col-xs-12 mainframe">
      <h3>Welcome!</h3>
      <p class="txtbody">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail" ng-repeat="AllStories">
              <img src="..." alt="...">
              <div class="caption">
                <h3>{{Thumbnail label}}</h3>
                <p>...</p>
               
              </div>
            </div>
          </div>
        </div>
      </p>
      <br>
      <h4 class="txtcontrol">txtcontrol</h4> 
      <p class="txtbody">
        ..is the class for user details, buttons, etc.
        <br>
        <br>
        <br>
        <br>
        <br>
      </p>
    </div>
  </div>
</div>