<div class="container-fluid appbackground">
    <div class="row">
        <div class="col-xs-12 mainframe">
            <h2 class="control">Welcome!</h2>
             <div class="row" ng-repeat="story in currentPageStories">
          <div class="row">
              <div class="col-xs-4 "> 
                    <a ng-href="/viewStory/{{story._id}}/section/1"  id="NoBorder_1" class="thumbnail">
                      <img ng-src="{{story.section1.img}}" title="{{story.title}}"  id="BorderPict_1" class="img-responsive">
                    </a>
               </div>
                <div class="col-xs-4"> 
                   <a ng-href="/viewStory/{{story._id}}/section/1" id="NoBorder_2" class="thumbnail">
                      <img ng-src="{{story.section2.img}}" title="{{story.title}}" id="BorderPict_2" class="img-responsive">
                    </a>
                </div>   
                <div class="col-xs-4"> 
                   <a ng-href="/viewStory/{{story._id}}/section/1" id="NoBorder_3" class="thumbnail">
                      <img ng-src="{{story.section3.img}}" title="{{story.title}}" id="BorderPict_3" class="img-responsive">
                    </a>
                </div>
          </div>
        </div>
        <div class="row">
                
                <ul class="pager">
                    <li>
                         <a id="SearchArrow_1" ng-href="/FAQ"><i class="fa fa-question fa-3x"></i></a>
                    </li>
                  <li  ng-class="prevPageDisabled()">
                    <a id="SearchArrow_2" href ng-click="prevPage()"><i class=" fa fa-caret-left fa-4x"></i></a>
                  </li>
                  <li  ng-class="nextPageDisabled()">
                    <a id="SearchArrow_3" href ng-click="nextPage()"><i class="fa fa-caret-right fa-4x"></i></a>
                  </li>
                  <li>
                    <a id="SearchArrow_4" ng-href="/writeStory"><i class="fa fa-pencil fa-3x"></i></a>
                  </li>
                </ul>
          
           </div>
        </div>
    </div>
</div>

