<div class="container-fluid appbackground">
    <div class="row">
        <div class="col-xs-12 mainframe">
            <h3>Welcome!</h3>
            
                <div class="row" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()" ng-repeat="story in currentPageStories">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <img src={{story.section1.img}} title={{story.title}} class="img-responsive">
                            <ng-md-icon ng-click="storySection(story._id)"icon="file_download" style="fill:white" size="20"></ng-md-icon>
                        </div>
                        <div class="col-xs-4">
                            <img src={{story.section2.img}} title={{story.title}} class="img-responsive">
                            <ng-md-icon ng-click="storySection(story._id)"icon="file_download" style="fill:white" size="20"></ng-md-icon>
                        </div>
                        <div class="col-xs-4">
                            <img src={{story.section3.img}} title={{story.title}} class="img-responsive">
                            <ng-md-icon ng-click="storySection(story._id)"icon="file_download" style="fill:white" size="20"></ng-md-icon>
                        </div>
                    </div>
                </div>
            
            <div class="row"layout="row" layout-align="center center">
              <div><md-button>
                <ng-md-icon ng-click="goToFAQ()" icon="!" style="fill:white" size="40"></ng-md-icon></md-button></div>
              <div><md-button>
                <ng-md-icon ng-class="{true: 'disabled', false: ''}[prevPageDisabled()]" ng-click="prevPage()" icon="play_arrow" class="rotatedIcon" style="fill:white" size="50"></ng-md-icon><ng-md-icon ng-hide="nextPageDisabled()" ng-click="nextPage()" icon="play_arrow" style="fill:white" size="50"></ng-md-icon></md-button></div>
                <div><md-button>
                   <ng-md-icon ng-click="goToCreateStory()"icon="add_circle" style="fill:white" size="40"></ng-md-icon></md-button></div>
                </div>               
            </div>
        </div>
        <br>
        <h4 class="txtcontrol">txtcontrol</h4>
        <p class="txtbody">
            ..is the class for user details, buttons, etc.
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>
</div>
</div>
