<!-- TODO - Don't forget to add menuController to index.html when it's made -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header menuNav">
      <a ng-href="/search" class="searchIcon"><i class="fa fa-search fa-4x"></i></a>

      <!-- TODO - Change to our logo after it is designed -->
      <a ng-href="/" class="logoIcon"><i class="fa fa-github-alt fa-5x"></i></a>

      <a ng-href="login" class="profileIcon"><i class="fa fa-user fa-4x"></i></a>
    </div>
  </div>
</nav>
