<div class="container">
    <form class="navbar-form navbar-left" ng-submit="" role="search">
        <div class="form-group">
            <input type="text" ng-change="" class="form-control" ng-modal="User" placeholder="enter user...">
        </div>
        <button type="submit" class="btn btn-default">search</button>
    </form>
    <form class="navbar-form navbar-left" ng-submit="" role="search">
        <div class="form-group">
            <input type="text" ng-change=""class="form-control" ng-modal="Story"placeholder="enter story...">
        </div>
        <button type="submit" class="btn btn-default">search</button>
    </form>
    <form class="navbar-form navbar-left" ng-submit=""role="search">
        <div class="form-group">
            <input type="text" ng-change="" class="form-control" ng-modal="Tags"placeholder="enter Tags #...">
        </div>
        <button type="submit"class="btn btn-default">search</button>
    </form>
</div>
