<div class='container appbackground control'>
  <div class="row">
    <form class="form-horizontal text-center">
      <div class="form-group">
        <div class="col-xs-12 input-group" id="padd18">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search fa-1x control"></i></span>
               <input type="text" id="SearchInput" ng-model="searchText"  ng-change="search();" placeholder="{{show}}"  class="form-control " aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
           <div class="btn-group btn-group-justified btn-group-xs" id="btn-search" role="group" aria-label="...">
              <button class="btn {{show == 'tags' ? 'btn-active' : 'btn-inactive'}}" ng-click="activateSearchTags();">Tags</button>
               <button class="btn {{show == 'users' ? 'btn-active' : 'btn-inactive'}}" ng-click="activateSearchUsers();">Users</button>
            </div>
            
         </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="">
      <div class="panel-body" >
        <ul class="list-group" id="asearch"> 
        <li class="list-group-item" ng-repeat="res in searchResults"><a  ng href="" ng-click="searchUsers(res._id, res.user_name)">{{res.user_name}}</a><a  href="" ng-click="searchStories(res._id,res.tagName)">{{hashtag}} {{res.machineName}}</a></li>
        </ul>
      </div>
    </div>
  </div
  <div class="row">
    <div class="">
      <div class="panel-body" >
       <!--  <ul class="list-group">
        <li class="list-group-item" ng-repeat="stories in data"><a ng-href="/viewStory/{{stories._id}}">{{stories.title}}</a></li>
        </ul> -->
        <div class="row" ng-repeat="story in currentPageStories">
          <div class="row">
              <div class="col-xs-4 "> 
                    <a ng-href="/viewStory/{{story._id}}/section/1" class="thumbnail">
                      <img src={{story.section1.img}} title={{story.title}} class="img-responsive">
                    </a>
               </div>
                <div class="col-xs-4"> 
                   <a href="/viewStory/{{story._id}}/section/1" class="thumbnail">
                      <img src={{story.section2.img}} title={{story.title}} class="img-responsive">
                    </a>
                </div>   
                <div class="col-xs-4"> 
                   <a href="/viewStory/{{story._id}}/section/1" class="thumbnail">
                      <img src={{story.section3.img}} title={{story.title}} class="img-responsive">
                    </a>
                </div>
          </div>
        </div>
              
         <div class="row">
            <div class="center">
            <ul class="pagination">
              <!-- ng-class="prevPageDisabled()" -->
              <li ng-class="prevPageDisabled()">
                <a id="SearchArrow" href ng-click="prevPage()"><i class=" fa fa-caret-left fa-4x"></i></a>
              </li>
             <!--  <li ng-repeat="n in [] | range: pageCount()"
                ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="#">{{n}}</a>
              </li> -->
              <li ng-class="nextPageDisabled()">
                <a id="SearchArrow" href ng-click="nextPage()"><i class="fa fa-caret-right fa-4x"></i></a>
              </li>
            </ul>
           </div>
          </div>  
      </div>
    </div>
  </div>
</div>
