<div class"container-fluid appbackground">
  <div class="row">
    <section class="col-xs-12 col-sm-10 col-md-6 col-lg-6 mainframe">
       <h3>Edit user's profile</h3>
       <form ng-submit="UserChange()" novalidate name="UserEditForm">
         <div class="form-group">
          <label for="userName">User name</label>
          <input ng-model="User.user_name"class="form-control" type="text" name="user_name" id="user_name" ng-minlength=5 required>
          <p ng-show="!User.user_name">The username should be at least 5 characters long.</p>
          <p ng-show="userNameAlreadyRegistered">Username is already registered.</p>
         </div>
          <div class="form-group">
          <label for="firstName">First name:</label>
          <input ng-model="User.first_name" class="form-control" type="text" id="first_name" ng-minlength=2 required>
          <p ng-show="!User.first_name">The firstname should be at least 2 characters long.</p>
         </div>
         <div class="form-group">
          <label for="lastName">Last name:</label>
          <input ng-model="User.last_name" class="form-control" type="text" id="last_name" required ng-minlength=2>
          <p ng-show="!User.last_name">The lastname should be at least 2 characters long.</p>
         </div>
         <div class="form-group">
          <label for="email">Email:</label>
          <input ng-model="User.email" class="form-control" type="email" name="userEmail" id="email" required>
          <p ng-show="registrationForm.userEmail.$invalid">Invalid email</p>
          <p ng-show="emailAlreadyRegistered">Email is already registered.</p>
         </div> 
         <div class="form-group">
          <label for="city">City:</label>
          <input ng-model="User.city" class="form-control" type="text" id="city" ng-minlength=2 required>
          <p ng-show="!User.city">The city name must be at least 2 characters long.</p>
         </div>
         <div class="form-group">
          <p>Land:</p>
          <select class="form-control" ng-model="User.country">
            <option ng-repeat="country in countries" value="{{country}}" ng-selected="User.country == country">{{country}}</option>
          </select>
         </div>
         <div class="form-group">
          <input ng-model="User.password" class="form-control" type="password" id="password" name="password" ng-minlength="7" required>
          <p ng-show="!User.password">The password must be at least 7 characters long.</p>
         </div>
         <button class="btn btn-success" type="submit" ng-disabled="UserEditForm.$invalid">Save</button>
       </form>
    </section>

  </div>

</div>

