<div class"container-fluid appbackground">
  <div class="row">
    <section class="col-xs-12 col-sm-10 col-md-6 col-lg-6 mainframe">
       <h3>Edit user's profile</h3>
       <form ng-submit="UserChanged()" novalidate name="UserEditForm">
         <div class="form-group">
          <label for="userName">User name</label>
          <input ng-model="User.user_name"class="form-control" type="text" id = "user_name" ng-minlength=5 required>
          <p ng-show="!User.user_name">The username should be at least 5 characters long.</p>
         </div>
          <div class="form-group">
          <label for="firstName">First name:</label>
          <input ng-model="User.first_name" class="form-control" type="text" id = "first_name" ng-minlength=2 required>
          <p ng-show="!User.first_name">The firstname should be at least 2 characters long.</p>
         </div>
         <div class="form-group">
          <label for="lastName">Last name:</label>
          <input ng-model="User.last_name" class="form-control" type="text" id = "last_name" required ng-minlength=2>
          <p ng-show="!User.last_name">The lastname should be at least 2 characters long.</p>
         </div>
         <div class="form-group">
          <label for="email">Email:</label>
          <input ng-model="User.email" name="userEmail" class="form-control" type="email" id = "email" required>
          <p ng-show="registrationForm.userEmail.$invalid">Invalid email</p>
         </div> 
         <div class="form-group">
          <label for="city">City:</label>
          <input ng-model="User.city" class="form-control" type="text" id = "city" ng-minlength=2 required>
          <p ng-show="!User.city">The city name must be at least 2 characters long.</p>
         </div>
         <div class="form-group">
          <p>Land:</p>
          <select ng-model="countries">
            <option ng-repeat="country in countries"></option>
          </select>
         </div>
         <div class="form-group">
          <input ng-model="User.password" class="form-control" type="password" id = "password" ng-minlength=7 required>
          <p ng-show="!User.password">The password must be at least 7 characters long.</p>
         </div>
         <button class="btn btn-success" type="submit" ng-disabled="UserEditForm.$invalid">Save</button>
       </form>
    </section>

  </div>

</div>
