<div class="container-fluid appbackground">
    <div class="row">
        <section class="col-xs-12 mainframe userPage">

            <div ng-show="User._id" class="logoutBtn">
                <button type="submit" class="btn btn-xs" ng-click="logoutUser()">Log Out</button>
            </div>

            <h2>{{User.user_name}}</h2>
            <div class="row userProfileInfo mb40">
                <div class="col-xs-6">
                    <div class="imgupload stdinputborder profileImgFrame">
                        <label for="profileImg" ng-class="{'dispNone': User.img}"><i class="fa fa-file-image-o fa-2x control uploadIcon" ng-hide="User.img"></i></label>
                        <input type="file" id="profileImg" name="profileImg" ngf-select ng-model="files" ngf-accept="'image/*'">
                        <img ng-if="User.img" ng-src="{{User.img}}" class="userProfileImg">
                        <i class="fa fa-check-square fa-1x saveImg" ng-show="User.img" ng-click="save()"></i>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-6">
                            <p>{{User.first_name}} {{User.last_name}}</p>
                        </div>
                        <div class="col-xs-6">
                            <p>{{UsersStories.length}} stories</p>
                            <p>{{User.city}}, {{User.country}}</p>
                        </div>
                    </div>
                    <div>
                        <p>{{User.email}}</p>
                        <button ng-click="userEdit();" type="button" class="btn btn-xs">
                                Edit user info
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 mb20">
                    <a ng-href="/writeStory"><i class="fa fa-pencil fa-2x control"></i></a>
                </div>
            </div>

            <div class="row userStoryList mb40">
                <div ng-repeat="story in UsersStories|orderBy: '-date_created'" data-story-id="{{story._id}}" scroll-to-top-when="storyDeleted">
                    <a ng-href="/viewStory/{{story._id}}">
                        <div class="col-xs-4">
                            <img ng-src="{{story.section1.img}}" class="userStoryImg"></img>
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h4>{{story.title}}</h4>
                                    <p>{{story.date_created| date:'yyyy-MM-dd'}}</p>
                                </div>
                                <div class="col-xs-4">
                                    <a ng-href="/writeStory/{{story._id}}">
                                        <i class="fa fa-pencil-square-o fa-1x control"></i>
                                    </a>
                                    <!-- <button  type="submit"> -->
                                        <i class="fa fa-trash-o fa-1x control" ng-click="deleteStory(story._id)"></i>
                                    <!-- </button> -->
                                </div>
                            </div>
                            <div>
                                <p>{{story.section1.text | limitTo: 60 }}{{story.section1.text.length > 60 ? '...' : ''}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>