<div class"container-fluid appbackground">
    <div class="row userRow">
        <section class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-1  col-md-offset-2  col-lg-offset-3 mainframe">

            <h2>User Profile</h2>
            <article class="row">
                <div class="col-xs-6">
                    <!-- TODO - Remove inline style, just for dev testing -->
                    <img style="width: 100px; height: 100px;" ng-src="{{User.img}}"></img>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3>{{User.user_name}}</h3>
                            <p>{{User.first_name}} {{User.last_name}}</p>
                        </div>
                        <div class="col-xs-6">
                            <p>{{UsersStories.length}} stories</p>
                            <!-- <p>{{User.email}}</p> -->
                            <p>{{User.city}}, {{User.country}}</p>
                        </div>
                    </div>
                </div>
            </article>

            <a ng-href="/viewStory/{{story._id}}">
            <br>
            <div class="row">
                <div class="row" ng-repeat="story in UsersStories|orderBy: '-date_created'">
                    <div class="col-xs-4">
                        <!-- TODO - Remove inline style, just for dev testing -->
                        <img style="width: 100px; height: 100px;" ng-src="{{story.section1.img}}"></img>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>{{story.title}}</h3>
                            </div>
                            <div class="col-xs-6">
                                <p>{{story.date_created| date:'yyyy-MM-dd'}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <p>{{story.section1.text | limitTo: 300 }}{{story.section1.text.length > 300 ? '...' : ''}}</p></a>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
