<div class="container-fluid appbackground">
  <div class="row">
    <div class="col-xs-12 mainframe">
      <h2 class="strytitle">{{aStory.title}}</h2>            
      <div class="stryimg">
        <img class="img-responsive" ng-src="{{storySection.img}}">
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="navthumbs pull-right">
            <img ng-class="activeClass(1)" ng-src="{{aStory.section1.img}}" class="navthumb">
            <img ng-class="activeClass(2)" ng-src="{{aStory.section2.img}}" class="navthumb">
            <img ng-class="activeClass(3)" ng-src="{{aStory.section3.img}}" class="navthumb">
            
            <!--
            <a ng-href="/writeStory/{{storyData._id}}/section/3" ng-disabled="storyForm.$invalid">
            </a> -->
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <h4 class="stryheader">{{storySection.header}}</h4>
      </div>


      <div class="col-xs-6">
        <p class="txtcontrol txtuserdatetags pull-right">{{aStory.user_id.user_name}} {{aStory.date_created| date:'yyyy-MM-dd'}}</p>
      </div>
      <div class="col-xs-12">
        <p class="strytxt">{{storySection.text}}</p>
      </div>

      <div class="col-xs-12">
        <div class="txtcontrol txtuserdatetags pull-right">
          <p class="tag" ng-repeat="tags in aStory.tags">#{{tags.tagName}}</p>
        </div>
      </div>

      <div class="col-xs-12 navbox">
        <i class="fa fa-chevron-left fa-2x control" ng-click="onSectionBack()"></i>
        <i class="fa fa-chevron-right fa-2x control" ng-click="onSectionForward()" ></i>
      </div>
    
      


    </div>
  </div>
</div>
