<div class="container-fluid appbackground">
    <div class="row">
        <section class="col-xs-12 mainframe">
            <form ng-submit="apanStory()" novalidate name="storyForm" class="">
              <div class="form-group">
                <!-- <label for="title" class="txtcontrol">Title</label> -->
                <input ng-model="storyData.title" name="storyTitle" class="form-control stdinputbgcolour brtinputtxtcolour stdinputborder headerfont plcholderhead cnttxt" type="text" id="title" placeholder="The title of your story." ng-minlength="2" ng-maxlength="60" required>
                <p class="txtcontrol formerror" ng-show="storyForm.storyTitle.$touched && storyForm.storyTitle.$invalid || (moved && storyForm.storyTitle.$invalid)">Give your story a title. (2 - 60 characters)</p>
              </div>
              <!-- <div class="form-group imgupload stdinputborder">
                <label for="fileUpload"><i ng-hide="storySection.img" class="fa fa-file-image-o fa-2x control"></i></label>
                <i ng-show="storySection.img" ng-click="openModal()" class="fa fa-trash-o fa-2x control" ></i>
                <input type="file" id="fileUpload" name="sectionFile" ngf-select ng-model="file" valid-file ngf-accept="'image/*'" ng-required="true">                  
                  <!-- <p class="txtcontrol formerror" ng-show="storyForm.sectionFile.$touched && storyForm.sectionFile.$invalid || (moved && storyForm.sectionFile.$invalid)">Choose an image for this section.</p>
                  
                  <p class="txtcontrol formerror" ng-show="storyForm.sectionFile.$touched && storyForm.sectionFile.$invalid || (moved && storyForm.sectionFile.$invalid)">Choose an image for this section.</p>

              </div>  -->
              <div class="form-group">
                  <cropme
                      width="640"
                      height="400"
                      ratio="1"
                      icon-class=""
                      type="png"
                      destination-width="300"
                      id="cropme1"
                      ok-label="Crop"
                      ng-src="{{imgurl}}"
                      ng-model="file"
                      cancel-label="Cancel">
                  </cropme>
                  <p ng-show="cropped">Cropping done!</p>
              </div>
              <div class="form-group stryimg stdinputborder imgview">
                <img class="img-responsive" ng-if="storySection.img" ng-src="{{storySection.img}}"> 
              </div>
              <div class="row">
                <div class="form-group col-xs-4">
                  <input ng-class="{true: 'invalidInput', false: ''}[storyForm.sectionHeader.$invalid]" ng-model="storySection.header" name="sectionHeader" class="form-control stdinputbgcolour brtinputtxtcolour stdinputborder headerfont plcholderhead" type="text" id="header" placeholder="Headline for this section.." ng-minlength="2" ng-maxlength="30" required>
                  <p class="txtcontrol formerror" ng-show="storyForm.sectionHeader.$touched && storyForm.sectionHeader.$invalid || (moved && storyForm.sectionHeader.$invalid)">Write a headline for this section. (2 - 60 characters)</p>
                </div>
                <div class="col-xs-8 navthumbs">
                  <a href="#"><img class="navthumb pull-right"></a> 
                  <a href="#"><img class="navthumb pull-right"></a> 
                  <a href="#"><img class="navthumb pull-right"></a> 
                </div> 
                 
              </div>
              <div class="form-group">
                  
                  <textarea ng-model="storySection.text" name="sectionText" class="form-control strytxt stdinputborder " id="text" placeholder="Your text.." required ng-minlength="150" ng-maxlength="300"></textarea>
                  <p class="txtcontrol formerror" ng-show="storyForm.sectionText.$touched && storyForm.sectionText.$invalid || (moved && storyForm.sectionText.$invalid)">Express yourself! (We expect a text of minimum 150 and up to 300 characters)</p>
              </div>
              <div class="form-group">
                  <!-- <label for="tags" class="txtcontrol">Tags</label> -->
                  <input ng-model="tagNames" name="storyTags" class="form-control stdinputbgcolour stdinputtxtcolour stdinputborder txtbody plcholdertxt" type="text" id="tags" placeholder="Add tags here, separated by commas. No # needed." ng-minlength="2" ng-maxlength="150"required>
                  <p class="txtcontrol formerror" ng-show="(storyForm.storyTags.$touched && storyForm.storyTags.$invalid) || (moved && storyForm.storyTags.$invalid)">Give your story at least one tag.</p>
              </div>
              
                
                <div class="cols-xs-8 txtcontrol control txtright">
                  <p>Username - {{niceDate}}</p>
                </div>
              
              <div class="navbox">
                <i class="fa fa-chevron-left fa-2x control" ng-disabled="storyForm.$invalid" ng-click="onSectionBack()"></i>
                <i class="fa fa-chevron-right fa-2x control" ng-disabled="storyForm.$invalid" ng-click="onSectionForward()" ></i>
              </div>
              <br><br>
            </form>
        </section>
    </div>
</div>
