// WU14-RIA 2-GRUPP 1
// LESS for the app-project STORIES 

// COLOUR VARIABLES ***********************************************************
// Grayscale for the time being

@backgr: #292929;
@txtheader: #FFF;
@txtbody: #CCC;
@txtcontrol: #DDD;
@txtuserdatetags: #777;
@taglabel: #444; 
@frame: #000;
@control: #999;
@stdinputtxtcolour: #CCC;
@brtinputtxtcolour: #EEE;
@drkinputtxtcolour: #999;
@stdinputbgcolour: #292929;
@stdinputbordercolour: #000;
@plcholderhead: #AAA;
@plcholdertxt: #999;


// COLOURS AND FONTS **********************************************************

body {
  background-color: #000;
}

h1, h2, h3, h4 {
  color: @txtheader;
  font-family: 'Oswald', sans-serif;
}
.appbackground {
  background-color: @backgr;
}

.headerfont {
  color: @txtheader;
  font-family: 'Oswald', sans-serif;
}

// colour of *text* in text input fields 

.stdinputtxtcolour {
  color: @stdinputtxtcolour;
}

// colour of *background* of text input fields    
.stdinputbgcolour {
  background-color: @stdinputbgcolour;
}

// for story text, 'editorial' on landing page etc

.txtbody {
  font-family: 'Noticia Text', serif;
  color: @txtbody;
}

// for text displaying user details, text in buttons, labels

.txtcontrol {
  color: @txtcontrol;
  font-family: 'Roboto', sans-serif;
}

.txtuserdatetags {
  color: @txtuserdatetags;
  margin-top: 10px;
  margin-bottom: 10px;
}

p.formerror {
  margin: 5px 0 0 12px;
}

// for control elements - buttons, icons

.control {
  color: @control;
}

// GENERIC FORMATTING STUFF FOR VARIOUS DIV'S AND ELEMENTS ********************

// tag display in viewstory

.tag {
  display: inline-block;
  margin: 0 4px 4px 0;
  padding: 0 5px 0 5px;
  border: @taglabel;
  border-radius: 3px;
  background-color: @taglabel;
}

// border for app's main div 

.mainframe {
  border: 5px solid @frame;
  padding-top: 10px;
  height:100vh;
}

// Navigation box formatting - centered icons

.navbox {
  text-align: center;
}

.navthumbs {
  margin: 0 0 15px 0;
  
}

.navthumbs a {
  
}

.navthumb {
  border: 3px solid black;
  height: 60px;
  width: 90px;
  opacity: 0.3;

}

.navthumbcurrent {
  opacity: 1;
}

.center {
  margin-left: auto;
  margin-right: auto;
  
}

.cnttxt {
  text-align: center;
}

.stdinputborder {
  border: 1px solid @stdinputbordercolour;
  border-radius: 4px;
}

.txtright {
  text-align: right;
}

// STORY WRITE / PRESENTATION *************************************************

.strytitle {
  text-align: center;
}

.stryimg {
  height: 35vh;
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
}

.stryheader {

}

.strytxt {
  .stdinputbgcolour; 
  .stdinputtxtcolour;
  .txtbody;
  .plcholdertxt;
  // height: 35vh; I commented this out. We're going to look at formatting this box with the rows property /Per
  word-wrap: break-word;
}

p.strytxt {
  margin-top: 2vh;
}

.strytags {

}

textarea.form-control {
  height: 35vh;
}

// CURSORS ********************************************************************
.div.imgupload i,
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

// PLACEHOLDER TEXT ***********************************************************

.plcholderhead { 

  &::-webkit-input-placeholder {
     color: @plcholderhead;
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: @plcholderhead;  
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: @plcholderhead;  
  }

  &:-ms-input-placeholder {  
     color: @plcholderhead;  
  }
}

.plcholdertxt { 

  &::-webkit-input-placeholder {
     color: @plcholdertxt;
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: @plcholdertxt;  
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: @plcholdertxt;  
  }

  &:-ms-input-placeholder {  
     color: @plcholdertxt;  
  }
}

//  Change element depth ***********************************************************
// Z-angel
.on-top {
  z-index: 99;
}

// Visibility **********************************************************************
// Hide element
.disappear {
  display: none;
}
// Hide image input button
div.imgupload input {
    display: none;  
}
